@import 'san-francisco.css';

* {
	padding: 0;
	margin: 0;
	position: relative;
}

body {
	font-family: 'San Francisco', serif;
	font-weight: 300;
}

.pixel {
	height: 1px;
	width: 1px;
	background: #000;
	margin-left: 1em;
}

.dropZone {
	height: 150px;
	width: 150px;
	margin: 1em;
	display: flex;
	text-align: center;
	align-items: center;
	border: 2px dashed #ccc;
	padding: 2em;
	cursor: pointer;
}

.tutorial {
	padding: 1em;
}

.code {
	font-family: monaco, monospace;
	font-size: 0.7em;
	padding: 2em;
	background: #f0f0f0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}