html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  touch-action: manipulation;
}

body,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
}

body {
  background: #fdfdfe;
  color: #000;
}

:root {
  --accent-color: #f1c40f;
}
