html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	padding: 0;
	margin: 0;
	position: relative;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
		segoe ui, arial, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 400;
	color: #404143;
	background-color: #fff;
}

a {
	color: #2980b9;
	font-weight: 500;
}
a:hover {
	color: #3498db;
}

h1 {
	font-weight: 700;
	font-size: 3em;
	letter-spacing: -1px;
	line-height: 1;
	padding-bottom: 0.309em;
}

.github-corner {
	position: fixed;
	top: 0;
	right: 0;
}

.padding-2x {
	padding: 2em;
}

.padding-horizontal-2x {
	padding: 0 2em;
}

.pixel {
	margin-top: 0.5rem;
}

.dropzone {
	height: 150px;
	width: 180px;
	display: flex;
	text-align: center;
	align-items: center;
	border: 2px dashed #95a5a6;
	background: #fbfbfc;
	border-radius: 8px;
	padding: 1em;
	cursor: pointer;
	font-weight: 700;
	font-size: 18px;
	color: #7f8c8d;
}
.dropzone span {
	width: 100%;
}
.dropzone:hover {
	border-color: #999;
}

.tutorial {
	padding: 1em 0;
}

.code {
	font-family: monaco, monospace;
	border: none;
	width: 100%;
	height: 320px;
	font-size: 0.6em;
	line-height: 1.309;
	padding: 2em;
	background: #ecf0f1;
	color: #000;
	border-radius: 1rem;
	opacity: !important;
}
.code:focus {
	outline: none;
}

.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}
